body {
  background: #ff651e;
  color: cyan;
}
img {
  width: 100%;
  max-width: 450px;
}
footer {
  color: white;
}
h1 {
  color: White;
  font-family: cursive;
  border-bottom: 5px solid ;
}
nav{
  
  border: 5px solid cyan;
  border-radius: 20px;
}
a{color: cyan;}