/* variables */
:root {
  --navy: rgb(0 26 128);
}
body {
  background: rgb(0 217 255);
}
img {
  box-shadow: 5px 5px 10px 2.5px #1c6ea4;
  margin: px;
  display: block;
  margin: 0% auto;
  width: 100%;
  max-width: 350px;
  border-radius: 20px;
}
footer {
  margin: 20px;
  padding: 15px;
  font-size: 1.11vh;
  color: var(--navy);
  text-align: center;
}
h1 {
  text-align: center;
  top: 45px;
  font-size: 60px;
  padding: 10px;
  color: var(--navy);
  font-family: "Stick No Bills", helvetica, sans-serif;
  border-bottom: 10px double var(--navy);
  border-color: var(--navy);
  margin: 5px auto;
  text-shadow: 2px 2px 2px rgb(97 120 136);
}
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}
button {
  box-shadow: 5px 5px 15px 2.5px #1c6ea4;
  border-radius: 20px;
  padding: 10px;
  margin: 20px auto;
  font-family: "Readex Pro", helvetica, sans-serif;
  font-size: 20px;
  color: var(--navy);
  border: 5px double var(--navy);
  background-color: white;
}
button:hover, button:focus{
  transition: all 1s ease;
  border: 5px double white;
  color: white;
  background-color: var(--navy);
}
main {
  padding: 15px;
  text-align: center;
  font-family: "Readex Pro", helvetica, sans-serif;
  font-size: 15px;
 text-shadow: 2px 2px 2px rgb(97 120 136);
  color: var(--navy);
}
